<a href="https://colab.research.google.com/github/Rabiul-ds/Melbourne-housing-market-price-prediction/blob/main/DA_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import numpy as np
import pandas as pd

In [41]:
url = 'https://raw.githubusercontent.com/Rabiul-ds/Melbourne-housing-market-price-prediction/refs/heads/main/Melbourne_housing_FULL.csv'
df = pd.read_csv(url, encoding='utf-8')
print(df.head(5))

       Suburb             Address  Rooms Type      Price Method SellerG  \
0  Abbotsford       68 Studley St      2    h        NaN     SS  Jellis
1  Abbotsford        85 Turner St      2    h  1480000.0      S  Biggin
2  Abbotsford     25 Bloomburg St      2    h  1035000.0      S  Biggin
3  Abbotsford  18/659 Victoria St      3    u        NaN     VB  Rounds
4  Abbotsford        5 Charles St      3    h  1465000.0     SP  Biggin

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/09/2016       2.5    3067.0  ...       1.0  1.0     126.0           NaN
1  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
2  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
3  4/02/2016       2.5    3067.0  ...       2.0  1.0       0.0           NaN
4  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0

   YearBuilt         CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN  Yarra City Council  -37.8014    144.9958  Northern Metropolitan
1        NaN  Yarra City Council  -37.7996    144.9984  Northern Metropolitan
2     1900.0  Yarra City Council  -37.8079    144.9934  Northern Metropolitan
3        NaN  Yarra City Council  -37.8114    145.0116  Northern Metropolitan
4     1900.0  Yarra City Council  -37.8093    144.9944  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

# **Part A: Data Preprocessing & EDA**

In [42]:
columns_to_convert = df.select_dtypes(include=['object']).columns
df[columns_to_convert] = df[columns_to_convert].astype('category')

Duplicate Removal

In [43]:
# Check duplicate rows
df[df.duplicated()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15858,Nunawading,1/7 Lilian St,3,t,NaN,SP,Jellis,17/06/2017,15.4,3131.0,...,3.0,2.0,405.0,226.0,2000.0,Manningham City Council,-37.82678,145.16777,Eastern Metropolitan,4973.0

In [44]:
# Delete duplicates
df.drop_duplicates(inplace=True)

Missing value treatment

In [45]:
# Correlation Analysis
df.corr(numeric_only=True).T

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.465238,0.271513,0.085890,0.946755,0.611875,0.393880,0.037402,0.156231,-0.012743,0.004871,0.103244,-0.071678
Price,0.465238,1.000000,-0.211384,0.044950,0.430275,0.429878,0.201803,0.032748,0.100754,-0.333306,-0.215607,0.197874,-0.059017
Distance,0.271513,-0.211384,1.000000,0.481567,0.269528,0.126168,0.241831,0.060864,0.076295,0.323035,-0.100414,0.200923,-0.018130
Postcode,0.085890,0.044950,0.481567,1.000000,0.089292,0.120079,0.067885,0.040665,0.042436,0.089800,-0.231026,0.362901,0.017111
Bedroom2,0.946755,0.430275,0.269528,0.089292,1.000000,0.614940,0.388492,0.037019,0.154159,-0.002017,0.003447,0.106172,-0.053453
Bathroom,0.611875,0.429878,0.126168,0.120079,0.614940,1.000000,0.307520,0.036341,0.147554,0.167869,-0.059174,0.106444,-0.032847
Car,0.393880,0.201803,0.241831,0.067885,0.388492,0.307520,1.000000,0.037830,0.104371,0.128688,-0.009018,0.047200,-0.009611
Landsize,0.037402,0.032748,0.060864,0.040665,0.037019,0.036341,0.037830,1.000000,0.354532,0.044484,0.025317,-0.002579,-0.018197
BuildingArea,0.156231,0.100754,0.076295,0.042436,0.154159,0.147554,0.104371,0.354532,1.000000,0.067758,0.017158,-0.002160,-0.024516
YearBuilt,-0.012743,-0.333306,0.323035,0.089800,-0.002017,0.167869,0.128688,0.044484,0.067758,1.000000,0.091606,-0.022261,0.022456
Lattitude,0.004871,-0.215607,-0.100414,-0.231026,0.003447,-0.059174,-0.009018,0.025317,0.017158,0.091606,1.000000,-0.345592,0.011108
Longtitude,0.103244,0.197874,0.200923,0.362901,0.106172,0.106444,0.047200,-0.002579,-0.002160,-0.022261,-0.345592,1.000000,0.016357
Propertycount,-0.071678,-0.059017,-0.018130,0.017111,-0.053453,-0.032847,-0.009611,-0.018197,-0.024516,0.022456,0.011108,0.016357,1.000000

In [46]:
df.corrwith(other=df["Price"], numeric_only=True)

Rooms            0.465238
Price            1.000000
Distance        -0.211384
Postcode         0.044950
Bedroom2         0.430275
Bathroom         0.429878
Car              0.201803
Landsize         0.032748
BuildingArea     0.100754
YearBuilt       -0.333306
Lattitude       -0.215607
Longtitude       0.197874
Propertycount   -0.059017
dtype: float64

In [47]:
# Remove features that has a very weak correlation with price, address is not necessary
df.drop(columns=["Postcode", "Landsize", "BuildingArea",
                 "Lattitude", "Longtitude", "Propertycount"], inplace=True)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34856 entries, 0 to 34856
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Suburb       34856 non-null  category
 1   Address      34856 non-null  category
 2   Rooms        34856 non-null  int64
 3   Type         34856 non-null  category
 4   Price        27247 non-null  float64
 5   Method       34856 non-null  category
 6   SellerG      34856 non-null  category
 7   Date         34856 non-null  category
 8   Distance     34855 non-null  float64
 9   Bedroom2     26639 non-null  float64
 10  Bathroom     26630 non-null  float64
 11  Car          26128 non-null  float64
 12  YearBuilt    15550 non-null  float64
 13  CouncilArea  34853 non-null  category
 14  Regionname   34853 non-null  category
dtypes: category(8), float64(6), int64(1)
memory usage: 3.9 MB

In [53]:
# Summary Statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,34856.0,3.031013e+00,0.969947,1.0,2.0,3.0,4.0,16.0
Price,27247.0,1.050173e+06,641467.130105,85000.0,635000.0,870000.0,1295000.0,11200000.0
Distance,34855.0,1.118481e+01,6.788952,0.0,6.4,10.3,14.0,48.1
Bedroom2,26639.0,3.084650e+00,0.980708,0.0,2.0,3.0,4.0,30.0
Bathroom,26630.0,1.624747e+00,0.724177,0.0,1.0,2.0,2.0,12.0
Car,26128.0,1.728835e+00,1.010789,0.0,1.0,2.0,2.0,26.0
YearBuilt,15550.0,1.965288e+03,37.328340,1196.0,1940.0,1970.0,2000.0,2106.0